<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}

        <h3>{{caption}}</h3>
        <p>Name: {{name}}</p>
        <p>City: {{city}}</p>
        <p>Birth: {{birth}}</p>
        <img id="my_img" src="/img/me.webp">

        {{>footer}}
    </body>
</html>