<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}

        <h3>{{caption}}</h3>
        <p>Email: {{email}}</p>
        <p>Phone: {{phone}}</p>

        {{>footer}}
    </body>
</html>